.error-404 .page-header {
	min-height: 300px;
	width: 100%;
	background: 
	url('../../assets/images/404Header.png') top/100% 100% no-repeat;
	background-size: cover;
	}

.error-404 .page-content {
	height: 300px;
	margin-top:0;
	margin-bottom: 5rem;
	text-align: center;
	color: $color__dark-blue;
	
	.page-title {
		margin-top: 0;
		margin-bottom: 0;
		@include impact-heading (3rem, uppercase);
		@include desktop {
			@include font-size (5);
		}
	}
	p {
		@include font-size (2);
		margin-top: 0;
		margin-bottom: 4rem;
		@include desktop {
			@include font-size (3);
		}
	}
}


.home-button {
	text-decoration: none;
	text-transform: uppercase;
	border: 2px solid $color__dark-blue;
	padding: 1rem 2rem;

}