/*--------------------------------------------------
 Projects Archive Page
----------------------------------------------------*/
//project info email submit banner
.project-description-banner {
    display: none;
    @include desktop {
        display: block;
        padding: 3rem 0 2rem;
        text-align: center;
        color: white;
        background: $color__dark-blue;
        input[type="text"],
        input[type="email"] {
            margin-right: .5rem;
            font-size: 14px;
            padding: 8px 10px;
            border-radius: 0;
            width: 160px;
        }
        p {
            margin-top: 0;
        }
    }
    input[type="submit"]{
        padding: .6rem 2.25rem;
        border-radius: 0;
        color: white;
        background: $color__lightblue;
        box-shadow: none;
        border: none;
        text-transform: uppercase;
        font-size: .75rem;
    }
}
//grid for displaying projects page
.projects-grid {
    @include display-flex (center, center);
    flex-flow: column nowrap;
    margin-bottom: 30px;
    @include desktop {
        flex-flow: row wrap;
        align-items: flex-start;
        position: relative;
    }
}

.project-title {
    height: 80px;
    background-color: $color__dark-blue;
    @include display-flex(center, center);
    cursor: pointer;
}
.project {
    width: 100%;
    @include desktop {
        min-width: 250px;
        max-width: 350px;
        flex: 1 0 18%;
        margin: .5rem .5rem;
    }
    h1 {
        width: 100%;
        font-size: 14px;
        margin: 0;
        font-weight: 100;
        color: white;
        text-align: center;
        
    }
    img {
        min-width: 100%;
        height: auto;
        max-height: 600px;
        display:block;
    }
    .entry-header {
        width: 100%;
        h2 {
            margin: 0;
            border: 0;
        }
    }
    article {
        margin: 0;
    }
    .entry-content {
        margin: 3rem auto;
        width: 90%;
        display: none;
        font-size: 1rem;
        text-align: center;
        padding-bottom: 1rem;
        p {
            text-align: left;
        }
        .fa-times {
            font-size: 1.5rem;
            text-align: center;
            color: white;
            border-radius: 50%;
            padding: .4rem .6rem;
            background-color: $color__dark-blue;
            cursor: pointer;
        }
        @include desktop {
            display: none;
        }
    }
    //removes project-title single page link on mobile
    .not-active {
        pointer-events: none;
        cursor: default;
        @include desktop {
            pointer-events: auto;
            cursor:pointer;
        }
    }
}
//Sector icon
.icon-border {
    @include desktop {
        display:block;
        position: relative;
        border: 1px solid white;
        background-color: white;
    }
}
.sector-icon {
    display: none;
    @include desktop {
        display: block;
        position: absolute;
        height: 100%;
        top: -28px;
        left: 44%;
        width: 16%;
        img {
            width: 100%;
        }
    }
}


//Single Project Modal
.desktop-entry-content {
    display: none;
    @include desktop {
        justify-content: space-around;
        align-items: center;
        // @include display-flex(space-around, center);
        flex-flow: row wrap;
        align-items: center;
        position: fixed;
        bottom: 20%;
        z-index: 2;
        min-width: 100%;
        left: 0;
        color: white;
        background-color: $color__dark-blue;
        padding-bottom: 3rem;
    }

    div {
        margin-top: 30px;
    }

    .single-project-header {
        width: 100%;
        @include display-flex(space-between, center);
        h1 {
            width: 60%;
            @include impact-heading(2rem, uppercase);
            background-color: $color__lightblue;
            font-size: 1.7rem;
            text-align: left;
            padding: 10px 50px;
        }
        i {
            margin-right: 30px;
            font-size: 1.5rem;
            padding: 5px 9px;
            border-radius: 30px;
            color: $color__dark-blue;
            border: 1px white solid;
            background-color: white;
            cursor: pointer;

            &:hover {
                border-color: $color__grey;
                background-color: $color__grey;
            }
        }
    }

    .full-project-img {
        max-width: 300px;
        width: 40%;
        margin-left: auto;
        margin-right: 30px;
        padding-left: 10px;
    }

    img {
        width: 100%;
    }
    .desktop-content {
        width: 50%;
        font-size: 1rem;
        max-width: 640px;
        margin-right: auto;
        padding-right: 10px;

    }
}
