.page-template-contact-page {

	.entry-header {
		background: url('');
	}
	
	.entry-content {
		@include display-flex(center, center);
	
		div {
			flex:1 0 50%;
			margin-right: 20%;
		}
	}
}
.wpcf7 {
	margin-right: 20%;
}

.offices-wrapper {
	@include display-flex(center, center);
	flex-flow: row wrap; 
	.office-block {
		flex:1 0 33%;
	}
}

