.page-template-contact-page {
	width: 98.5vw;
	
	.entry-title {
		text-align: center;
		color: white;
		line-height: 180px;
	}

	.entry-header {
		height: 200px;
		background-image: 
		url('../../assets/images/mobile-header.png');
		background-size: cover;
	}

	.entry-content {
		@include display-flex(center, center);
		margin: 0 auto;
		flex-wrap: wrap;

	 p:first-child,
	 p:nth-child(2) {
	 	width: 80%;
	 }
		
	}
}

.wpcf7 {
	width: 29vw;
	flex: none;

	form {
		width: 100%;
	}
	input {
		width: 250px;
		border:3px solid $color__dark-blue;
	}
	p {
		color: $color__dark-blue;
	}
	.wpcf7-submit {
		min-width: 260px;
		text-transform: uppercase;
		color: white;
		background: $color__dark-blue;
		box-shadow: none;
	}
}

iframe {
	width: 50vw;
}

.offices-wrapper {

	@include display-flex(center, center);
	flex-flow: row wrap; 
	.office-block {
		flex:1 0 28%;
		min-height: 825px;
		padding-right: 20px;
		h2 {
			color: $color__dark-blue;
		}
		h3 {
			font-weight: bold;
		}
	}
	.office-address {
		width: 200px;
		p {
			line-height: 1.25;
		}
	}
}

