/*-----------------------------------------
  Footer
-------------------------------------------*/
footer {
  background-color: $color__dark-blue;
  color: white;
  text-align: center;
}

.site-info {
  padding-top: 30px;
  @include display-flex(center, center);
  flex-flow: column nowrap;
  @include desktop {
    justify-content: space-between;
    flex-flow: row  nowrap;
  }

  div {
    padding-bottom: 40px;
  }

  h1 {
    font-size: 1.3rem;
    font-weight: normal;
    margin-bottom: 10px;
  }

  button {
    background-color: transparent;
    padding: 10px 20px;
    color: white;
    box-shadow: none;
    font-size: $font__p;
  }

  .fa {
    border: 1px white solid;
    border-radius:30px;
    padding: 10px 13px;
    color: white;
    margin-right: 10px;
  }

}
