/*---------------------------------------------------------------
  Front Page
----------------------------------------------------------------*/
//Banner image with header and tagline
.hero-image {
  color: white;
  height: 300px;
  @include desktop {
    height: 90vh;
  }

  h2 {
    @include impact-heading(2em, uppercase);
    margin: 0;
    text-align: center;
    word-break: break-word;
    @include desktop {
      font-size: 5em;
    }
  }

  h3 {
    font-size: 1.5rem;
    font-weight:400;
    text-align: center;
    @include desktop {
      font-size: 2em;
    }

  }
}

.intro {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.75;
  color: $color__dark-blue;

  p {
    margin: 3rem 0;
  }

  @include desktop {
    color: black;
    font-size: 1.5rem;
    max-width: 800px;
  }
}

//Featured Projects
.home-gallery-cell {
  width: 100%;
}

.projects-block-image {
  position: relative;
  height: 100vw;
  max-height: 600px;
  img {
    position: absolute;
    width: 100%;
    height: 100%;  
  }
}
.projects-block-info {
  position: relative;
  height: 100%;
  top: 0;
  background:
  linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4))
  top right/64% 100% no-repeat;

  @include desktop {
    background-image: 
    url("../../assets/images/right-overlay.png");
  }
  h1 {
    width: 100%;
    position: absolute;
    top:0;
    margin-top: 0;
    background-color: $color__lightblue;
    text-align: center;
    color: white;
    @include impact-heading(1.5rem,uppercase);
    @include desktop {
      font-size: 2rem;
      width: 65vw;
      right: 0;
      top: 20px;
      text-align: left;
      padding: 10px 1.5rem;
    }

  }
  p {
    font-size: 20px;
    line-height: 1.2;
    position: absolute;
    right: 0;
    bottom: 10%;
    margin: 0;
    width: 60%;
    color: white;
    @include desktop {
      width: 50%;
      bottom: 12%;
    }
  }
}



//Sectors Icons
.sector-icons {
  color: $color__dark-blue;
  text-align: center;
  margin: 3rem 0;
  @include display-flex(center,center);
  flex-flow: column nowrap;
  @include desktop {
    flex-flow: row wrap;
  }
  h1 {
    @include impact-heading(auto, uppercase);
    margin: 0;
    @include desktop {
      width:100%;
    }
  }

}

.each-category{
  width: 100%;
  @include desktop {
    display: flex;
    flex-flow: column nowrap;
    width: 45%;
    max-width: 280px;
    padding-right: 30px;
  }

  h2{
    @include impact-heading(1.5em, capitalize);
    @include desktop {
      order: 2;
      color: black;
      font-family: Helvetica;
      margin: 0 0 40px;
      font-size: 25px;
      font-weight: bold;
      letter-spacing: normal;
    }
    & a {
      text-decoration: none;
    }

  }
  img {
    width: 60%;
    max-width: 280px;
    @include desktop {
      width:100%;
    }
  }

  &:hover .sector-img {
    @include desktop {
      transform: rotateY(180deg);
    }
  }
}

.sector-img {
  width: 100%;
  @include desktop {
    position:relative;
    transform-style: preserve-3d;
    transition: all 1s linear;
    backface-visibility: hidden;

  }
}

.sector-description {
  width: 95%;
  max-width: 400px;
  margin: 20px auto;
  @include desktop {
    @include display-flex(center, center);
    position: absolute;
    top: 0px;
    max-width: 280px;
    height: 270px;
    font-size: 1.2rem;
    transform: rotateY(180deg);
    box-sizing: border-box;
    backface-visibility: hidden;
    background-color: $color__lightblue;
    border-radius: 50%;
  }
}

.content {
  margin-top: 0;
  @include desktop {
    color: white;
    font-weight: 100;
    width: 75%;
    margin: 0;
  }
}

.learn-more {
  margin-top:10px;
  font-weight: bold;
  @include desktop {
    display: none;
  }
}

//Affiliated Companies
.affiliation {
  // background-color: lightgray;
  height: 400px;
  @include display-flex(center,center);
  align-content: center;
  flex-flow: row wrap;
  @include desktop {
    height: 340px;
  }

  img {
    width: 37vw;
    padding: 20px;
    @include desktop {
      width: 17vw;
    }
  }


  h3 {
    @include impact-heading($font__h2, uppercase);
    margin-top: 0;
    width: 100vw;
    color: $color__dark-blue;
    text-align: center;
  }
}