/*-----------------------------------------------------
  Header
-------------------------------------------------------*/
.site-header {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 0;
  position: fixed;
  z-index: 11;
  height: 80px;
  background-color: white;
  border-bottom: 1px $color__lightblue solid;

  @include desktop {
    margin: 0 auto;
  }
  a {
    padding-left: 10%;
  }
}

.site-content {
  padding-top: 80px;
}

//Logo
.site-header h1 {
  background:
  url("../../assets/images/mobile-logo.png")
  center/100% 68%
  no-repeat;
  height: 80px;
  width: 60px;
  overflow: hidden;
  text-indent: 80%;
  margin:0;
  font-size: 1px;

  @include desktop {
    background: url("../../assets/images/large-logo.png")
    center/100% 80%
    no-repeat;
    height: 8vw;
    max-height: 55px;
    max-width: 200px;
    width: 23vw;
  }
}


//Main Navigation
.main-navigation {
  @include display-flex(space-between, center);
  width: 100%;
  @include desktop {
    flex-wrap: nowrap;
    margin: 0 auto;
  }
  .fa-bars {
    font-size: $font__h4;
    cursor: pointer;
    padding-right: 10%;
    @include desktop {
      display: none;
    }
  }

}

//Menus at desktop view
.sector-menu,
.about-menu,
.menu-main-navigation-container {
  display: none;
  @include desktop {
    display: unset;
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
    max-width: 600px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    ul {
      width: 94%;
      padding-left: 0;
      @include display-flex(space-between, center);
      flex-flow: row nowrap;

    }

    a {
      text-decoration: none;
      color: $color__dark-blue;
      width: 10vw;
      &:hover {
        color: $color__lightblue;
      }
    }
    
    li {
     white-space: nowrap;

     &.current-menu-item a {
      text-decoration: underline;
      font-size: 1rem;
      color: black;
    }
  }
}
}

//Drop down menu at mobile width
.nav-mobile {
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  display: none;
  position: absolute;
  top: 80px;
  width: 100%;
  padding-right: 10%;
  max-width: 600px;
  text-align: center;
  background-color: $color__dark-blue;

  @include desktop {
   display: none;
 }

 ul {
    padding: 0;
    @include display-flex(center, center);
    flex-flow: column wrap;
    @include desktop {

    }
  }

  li {
    line-height: 2;
    width: 100%;
    text-align: center;
  }
  a {
    color: white;
    text-decoration: none;
    padding: 0;
  }
}

//About Us sub-menu
.about-menu {
  max-width: 400px;
  margin: 15px auto;
  padding: 0;

  li {
    text-align: right;
  }
}

//Sectors sub-menu
.sector-menu {
  @include desktop {
    @include display-flex(space-around, center);
    max-width: none;

    ul {
      justify-content: space-around;
      flex-wrap: wrap;
    }
    li {
      padding: 5px;
    }
  }
}