/*-----------------------------------------------------
  Header
-------------------------------------------------------*/
.site-header {
  width: 100vw;
  margin: 0;
  @include desktop {
    width: 80vw;
    margin: 0 auto;
  }
}

.main-navigation {
  @include display-flex(space-between, center);
  flex-wrap: wrap;
  max-width: 600px;
  @include desktop {
    flex-wrap: nowrap;
    min-width: 100%;
  }
  .fa-bars {
    font-size: $font__h4;
    cursor: pointer;
    @include desktop {
      display: none;
    }
  }

}

.menu-main-navigation-container {
  font-size: $font__main;
  display: none;
  width: 100%;
  max-width: 600px;
  text-align: center;
  background-color: $color__dark-blue;
  text-transform: uppercase;

  @include desktop {
    background-color: white;
    display: block;
    width: auto;
  }

  ul {
    padding: 0;
    @include display-flex(flex-start, center);
    flex-flow: column wrap;
    @include desktop {
      flex-flow: row nowrap;
    }
  }

  li {
    padding-bottom: 20px;
    text-align: center;
    @include desktop {
      padding-right: 15%;
      padding-bottom: 0;
    }
  }
  a {
    
    color: white;
    text-decoration: none;

    @include desktop {
      color: $color__dark-blue;
    }
  }
  
}

.site-header h1 {
  background:
  url("../../assets/images/mobile-logo.png")
  center/50px 50px
  no-repeat;
  height: 60px;
  width: 60px;
  overflow: hidden;
  text-indent: 80%;
  margin:0;
  font-size: 1px;

  @include desktop {
    background: url("../../assets/images/large-logo.png")
    center/100% 80%
    no-repeat;
    height: 8vw;
    max-height: 80px;
    max-width: 300px;
    width: 23vw;
  }
}


// //Logged in site-header
// .logged-in .site-header{
//   margin-top: 32px;
// }