/* -----------------------------------------------------
 News
--------------------------------------------------- */

//Header
.blog {

	.news-header {
		background: 
		url('../../assets/images/news-banner.jpg')bottom center/100% 100% no-repeat;
		@include display-flex(center, center);
		height: 250px;

		h1 {
			@include impact-heading(2.5rem, uppercase);
			color: white;
		}
	}
}

//News articles and sidebar
.news-wrapper {
	@include display-flex(space-around, flex-start);
	flex-flow: row nowrap;

	article {
		margin: 65px 0;
	}


	.news-articles {
		width: 80%;
		margin-right: auto;
	}

	.entry-content {
		margin-left: 60px;
		font-size: 26px;
		max-width: 1140px;

		p {
			margin: 30px 0 0;
		}
	}
}

//Archive widget
.widget-area {
	display: none;
	@include desktop {
		display: block;
		margin-top: 150px;
		width: 14%;
		font-size: 1rem;	
		margin-right: 50px;
		h2 {
			font-size: 1.2rem;
		}

		ul {
			padding-left: 15px;
		}
		li a{
			text-decoration:none;		
		}
	}
}

//Article title
.news-title {
	@include impact-heading(1.5rem, initial);
	background:
	url('../../assets/images/news-title-bg.png')
	top left/100% 100% no-repeat;
	width: 100%;
	max-width: 730px;
	padding: 18px 45px 34px 30px;
	@include desktop {
		padding: 18px 0px 34px 85px;
	}

	a {
		color: white;
		text-decoration: none;

		&:hover {
			color: $color__grey;
		}
	}

}

.news-read-more {
	text-align:right;
	margin-bottom: 0;
	margin-top: 30px;

	a {
		font-size: 24px;
		text-decoration: none;
	}
}

//Navigation
.navigation {
	margin: 65px;
	margin-right: 15%;

	a {
		text-decoration: none;
		font-weight: bold;
	}
}

.nav-previous {
	text-align: right;

}
