/* -----------------------------------------------------
 News
--------------------------------------------------- */

//Header
.blog {

	.news-header {
		background: 
		url('../../assets/images/news-banner.jpg')bottom center/100% 100% no-repeat;
		@include display-flex(center, center);
		height: 250px;

		h1 {
			@include impact-heading(2.5rem, uppercase);
			color: white;
		}
	}
}

//News articles and sidebar
.news-wrapper {
	@include display-flex(space-around, center);
	flex-flow: row nowrap;

	article {
		width: 80%;
		margin-right: auto;	
	}

	.entry-content {
		margin-left: 60px;
	}

	.widget-area {
		width: 14%;
		font-size: 1rem;	
		h2 {
			font-size: 1.2rem;
		}

		ul {
			padding-left: 15px;
		}
	}
}

//Article title
.news-title {
	@include impact-heading(1.5rem, capitalize);
	background:
	url('../../assets/images/news-title-bg.png')
	top left/100% 100% no-repeat;
	width: 100%;
	max-width: 730px;
	padding: 18px 65px 34px 30px;
	@include desktop {
		padding: 18px 0px 34px 85px;
	}

	a {
		color: white;
		text-decoration: none;

		&:hover {
			color: $color__grey;
		}
	}

}


