.page-template-page-about {
	font-size: 1rem;
	
	.entry-header {
		color: white;
    height: 50vw;
    text-align: center;
    width: 100%;
    max-height: 300px;
		
		h1 {
			@include impact-heading($font__h2, uppercase);
		}
		p {
			width: 80%;
			max-width: 400px;
		}
	}

	.entry-content h1 {
		@include impact-heading($font__h2, uppercase);
		color: $color__dark-blue;
		text-align: center;
	}
}



//Flickity
.button-group {
	@include display-flex(space-around, flex-end);
	width: 90%;
	margin: 0 auto;
	padding-bottom: 20px;
	border-bottom: 3px $color__dark-blue solid;
	button {
		background-color: transparent;
		border: none;
		width: 19%;
		max-width: 100px;
		text-align: center;
		box-shadow: none;
		img {
			width: 100%;
		}
	}
}

.gallery {
	width: 90%;
	margin: 0 auto;
	.flickity-prev-next-button {
		width: 30px;
		height: 30px;
		background: transparent;
		.arrow {
			fill: $color__dark-blue;
		}
		
	}
}
.gallery-cell {
	text-align: center;
	font-size: 1rem;
	line-height: 1.5;
	width: 100%;
	height: 200px;
}

.gallery {
.flickity-prev-next-button:hover {
  background: #F90;
}
/* arrow color */

.flickity-prev-next-button.no-svg {
  color: white;
}
/* position outside */
.flickity-prev-next-button.previous {
  left: -40px;
}
.flickity-prev-next-button.next {
  right: -40px;
}
}
// .flickity-prev-next-button svg {
// 	color: $color__dark-blue;
// 	width: 10px;
// 	height: 10px;
// 	border: 0;
// }

//Our Team
.our-team-wrapper {
		text-align: center;
	}


//Timeline
.the-excerpt {
	line-height: -60px;
}

.timeline-date,
.timeline-express-read-more-link {
	visibility: hidden;

}

.fa-circle::before {
	color: $color__lightblue;
}

//Learn more banner
.learn-more-banner {
	color: white;
	height: 250px;
	width: 100%;
	background: url('../../assets/images/AboutUsHeader.png') no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 2rem;
	h2 {
		color:white;
		text-transform: uppercase;
	}
}

.button-class {
	color: white;
	border: 1px solid white;
	padding: .75rem 1.5rem;
	text-decoration: none;
	
}
