.page-template-page-about {
	font-size: 1rem;
	article {
		margin-bottom: 0; // removes white space between content and footer
	}
	.entry-header {
		color: white;
		height: 50vw;
		text-align: center;
		width: 100%;
		max-height: 300px;
		
		h1 {
			@include impact-heading($font__h2, uppercase);
		}
		p {
			width: 80%;
			max-width: 400px;
		}
	}

	.entry-content h1 {
		@include impact-heading($font__h2, uppercase);
		color: $color__dark-blue;
		text-align: center;
	}
}



//Flickity
.carousel-nav {
	height: 20vh;
	width:80%;
	margin: 0 auto;
	max-height: 150px;
	padding-bottom: 30px;
	@include desktop {
		border-bottom: 3px $color__dark-blue solid;
	}
	.nav-cell{
		width: 42%;
		height: 100%;
		max-width: 125px;
		padding: 0 25vw;
		@include desktop {
			padding: 0 4vw;
			width: 10%;
			max-width: 100px;
		}
		
		.icon-active {
			display: none;
		}
		&.is-selected  {
			.icon-inactive {
				display: none;
			}

			.icon-active {
				display: unset;
			}
		}
		
		img {
			width: 100%;
			height: 100%;
		}
	}
}


.carousel-main {
	width: 90%;
	margin: 0 auto;
	min-height: 200px;
	.flickity-prev-next-button {
		width: 30px;
		height: 30px;
		background: transparent;
		&:hover {
			.arrow {
				fill: $color__lightblue;
			}
		}
		.arrow {
			fill: $color__dark-blue;
		}
		&.previous {
			left: -5%;
			top: 40%;
		}
		&.next {
			right: -5%;
			top: 40%;
		}
	}
}

.gallery-cell {
	text-align: center;
	font-size: 1.3rem;
	line-height: 1.5;
	width: 100%;
	min-height: 250px;
	p {
		width: 90%;
		margin: 15px auto;
	}
}



//Our Team
.our-team {
	@include display-flex(center, flex-start);
	flex-flow: column nowrap;
	color: $color__dark-blue;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	@include desktop {
		flex-flow: row wrap;
	}
}

.each-member {
	width: 100%;
	margin-bottom: 30px;
	@include desktop {
		width: 30vw;
		max-width: 239px;
		padding-right: 30px;
	}

	.name {
		@include impact-heading(1.5rem, uppercase);
		margin-top:0;
	}

	.position {
		font-family: Helvetica;
		margin-top: 0;
		font-size: 1.5rem;
		word-wrap: break-word;
	}

	.member-photo {
		border-radius: 50%;
	}
	img {
		@include desktop {
			width: 100%;
		}
	}
}




//new timeline

.timeline {

	position:relative;
	z-index: 1;
	padding-top: 2rem;
	text-align: center;
	color: white;
	background-color: $color__dark-blue;
	h2 {
		@include impact-heading($font__h2, uppercase);

	}


}
.history-wrapper {
	width: 90%;
	margin: 0 auto;
	text-align: center;


}
.mobile-history {

	
	@include font-size (1.25);
	@include desktop {
		display:none
	}
}
.desktop-history {
	line-height: 1.25;
	@include font-size (1.25);
	display: none;
	@include desktop {

		
		@include desktop {
			display:none
		}
	}
}
.desktop-history {
	display: none;
	@include desktop {
		@include display-flex(center,center);
		flex-flow: column wrap;
		width: 80%;
		margin: 0 auto;
		line-height: 1.5;
		font-size: 1.5rem;
	}
}
.tm_timeline__event__date {
	display: none;
}
.tm_timeline__event__dot {
	background-color: $color__lightblue;
	box-shadow: 0 0 0 6px #279AB6;
}

.tm_timeline__event__title {
	color: white;
	font-size: 1.5rem;
	margin-left: 1rem;
	@include desktop {
		font-size: 2rem;
	}
}
.tm_timeline-layout-vertical-chessOrder {
	.tm_timeline__tense {
		background-color: $color__lightblue;
		// height: 82%;
		// top: 3.5%;
		// @include desktop {
		// 	height: 82%;
		// 	top: 5%;
		// }	
	}
}
.tm_timeline {
	text-align: left;
}
.tm_timeline__layout_vertical {

}
.tm_timeline__event__description {
	padding-top: 1rem;
	margin-left: 1rem;
	font-size: 1rem;
	@include desktop {
		font-size: 1.25rem;
	}
}

.tm_timeline__body-tense {

	color: white;
}



//Learn more banner
.learn-more-banner {
	color: white;
	height: 250px;
	width: 100%;
	background: url('../../assets/images/AboutUsHeader.png') no-repeat;
	background-size: cover;
	text-align: center;
	@include display-flex(center, center);
	flex-flow: column nowrap;
	@include desktop {
		height: 400px;
	}

	h2 {
		color:white;
		text-transform: uppercase;
		@include impact-heading(2, uppercase);
		@include desktop {
			padding-bottom: 2rem;
			@include font-size (3);
		}
	}
}

.button-class {
	color: white;
	border: 1px solid white;
	padding: .75rem 1.5rem;
	text-decoration: none;
	
}
.button-wrapper {
	width: 90%;
	margin: 0 auto;
	@include display-flex(center, center);
	flex-flow: row nowrap;
	margin-bottom: 3rem;
	margin-top: 1rem;
	@include desktop {
		margin-bottom: 8rem;
	}

}
.button-class-projects,
.button-class-sectors {
	margin: 0 2rem;
	color: white;
	border: 2px solid white;
	padding: .75rem 3rem;
	text-decoration: none;
	text-transform: uppercase;
	@include desktop {
		@include font-size (2);
		padding: 1.5rem 3rem;
		margin: 0 2rem;
	}
	
}
