/*--------------------------------------------------------------
# Services Page Template
--------------------------------------------------------------*/


.page-template-page-services {
	font-size: 1rem;
	
	.hentry {
		margin: 0;
	}
	.entry-header {
		height: 300px;
		width: 100%;
		background: url('../../assets/images/ServiceHeader.png') no-repeat;
		background-size: cover;
	}

	h2 {
		text-transform: uppercase;
		color: $color__dark-blue;
		text-align: center;
		font-weight: bold;
		max-width: 800px;
		margin: 0 auto;
		width: 90%;
		padding-top: 30px;
		@include desktop {
			max-width: none;
			font-weight: 800;
			font-size: 2rem;
		}
	}
}

.engineering-needs-wrapper {
	@include display-flex(center, center);
	flex-flow: column nowrap;
	margin: 0 auto;
	@include desktop {
		flex-flow: row nowrap;
		align-items: flex-start;
		max-width: 91%;
	}
	.engineering-needs-block {
		line-height:1.7;
		text-align: center;
		width: 60%;
		@include desktop {
			text-align: left;
			font-size: $font__main;
			padding-left: 5%;
			
		}
		h4 {
			font-weight: 800;
			font-size: 1.3rem;
			color: $color__lightblue;
			@include desktop {
				font-size: 2rem;
				font-weight: normal;
				line-height:1;
			}
		}

	}
	.engineering-needs-list {
		padding:0;
		font-weight: bold;
		@include desktop {
			font-weight: normal;
		}
	}
}


.certification-block {
	text-align: center;
	margin: 0 auto;

	p {
		font-weight: bold;
		line-height: 1.7;
		max-width: 800px;
		width: 90%;
		margin: 0 auto;
		padding: 20px 0;
		@include desktop {
			width: 70%;
			font-weight: normal;
			font-size: $font__main;
		} 
	}
	.quality-details {
		max-width: 350px;
		margin: 0 auto;
		padding: 20px 0;
		line-height: 1.7;
		font-weight: bold;
		@include desktop {
			font-weight: normal;
			font-size: $font__main;
		}
	}
}

.banner {
	background-color: $color__dark-blue;
	min-height:240px;
	@include display-flex(center,center);
	flex-flow: column nowrap;
	color: white;
	h3 {
		font-size: $font__h4;
		text-align: center;
		color: white;
		padding: 30px;
		max-width: 800px;
		margin: 0 auto;
		width: 90%;
		@include desktop {
			width: 66%;
			font-size: $font__h3;
		}
	}
	p {
		margin-top: 0;
		max-width: 850px;
		width: 70%;
		text-align: center;
		font-size: 1.2rem;
		@include desktop {
			font-weight: bold;
		}
	}
}

.service-image {
	display: none;
	background: 
	url('../../assets/images/ServicesOverlay.png')
	bottom right/70% no-repeat,
	url('../../assets/images/services-footer.png')
	bottom/100% no-repeat;
	ul {
		color: white;
		max-width: 42%;
		padding: 89px 0 30px;
		font-size: 2em;
		margin: 2% 3% 0 auto;
		list-style-type: none;
		line-height: 1.3;
	}
	li 
	{
		position: relative;
		padding-bottom: 20px;
		&:before {
			content: "";
			position: absolute;
			top: 0px;
			left: -40px;
			width: 100%;
			height: 100%;
			background:  
			url('../../assets/images/arrow-right.png')
			no-repeat;
		}
	}
	@include desktop {
		display: block;
	}
}

.updates-banner {
	@include display-flex(center,center);
	text-align: center;
	background-color: $color__lightblue;
	margin-top: 30px;
	p {
		color: white;
		padding: 30px 0;
		font-size: 1.3rem;
		font-weight: bold;
		width: 90%;
		margin: 0 auto;
		@include desktop {
			max-width: 800px;
			font-size: 1.5rem;
			line-height: 1.5;
		}
	}
}

//Flickity carousel
.carousel {
	padding-top: 30px;
	.flickity-page-dots {
		bottom: 0px;
	}
}

.carousel-cell {
	width: 100%;
	text-align: center;
}

