.page-template-page-careers {
	

	.entry-header {
		height: 200px;
		background: url('../../assets/images/Careers1stHeader.png')no-repeat;
		background-size: cover;

		
	}

	.growing-text {
		text-align: center;
		width: 90%;
		margin: 0 auto;
		line-height: 1.75;
		}


	.life-work-banner {
		text-align: center;
		padding-top: 1.75rem;
		padding-bottom: 1rem;
		p{
		width: 90%;
		margin: 0 auto;
		}
		h2{
			
			height: 100px;
			color: white;
			background: $color__lightblue;
			padding-top: 3rem;
			@include impact-heading(3rem, lowercase);
		}
	}
	.opportunities-wrapper {
			width: 90%;
			margin: 0 auto;
			padding-bottom: 2rem;
		.job-positions {
			padding-top: 2rem;
			
		}
	}
	
	.opportunities-banner {
		text-align:center;
		height: 100px;
		color: white;
		background: $color__dark-blue;
		padding-top: 2rem;
		@include impact-heading(3rem, uppercase);
	}
	.opportunities-title {
		color: $color__lightblue;
	}
	.join-team-banner {
		@include display-flex(center, center);
		flex-flow: row nowrap;
		align-items: flex-start;
		justify-content: space-between;
		background: $color__lightblue;
	}
	.international-team,
	.north-american-team {
		color: white;
		min-width: 250px;
		max-width: 500px;
		padding-bottom: 2rem;
	}
}