.page-template-page-oil-gas {
	
	
	.entry-header {
		padding-top: 2rem;
		color: white;
		height: 600px;
		background: url('../../assets/images/SectorsOil_GasHeader.png');
		background-size: cover;
		p {
			max-width: 680px;
		}
	}
	.what-we-offer-wrapper {
		padding-top: 2rem;
		color: white;
		height: 500px;
		background-color: $color__dark-blue;
	}
	ul.what-we-offer-list {
		padding-top: 2rem;
		
		list-style-image: url('../../assets/images/SectorOil_GasTriangle90.png');
	

	}
	.oil-gas-dropdown-wrapper {

		h1 {
			color: $color__dark-blue;
			border-bottom: 2px solid $color__dark-blue;
		}
		ul {
			list-style: circle;
		}

	}
}