.page-template-page-about {
	font-size: 1rem;
	
	.entry-header {
		color: white;
    height: 50vw;
    text-align: center;
    width: 100vw;
    max-height: 300px;
		
		h1 {
			@include impact-heading($font__h2);

		}
		p {
			width: 80%;
			max-width: 400px;
		}
	}
	.values-block {
		text-align: center;
	}

	.our-team-wrapper {
		text-align: center;
	}

}
.the-excerpt {
	line-height: -60px;
}

.timeline-date,
.timeline-express-read-more-link {
	visibility: hidden;

}

.fa-circle::before {
	color: $color__lightblue;
}

.learn-more-banner {
	color: white;
	height: 250px;
	width: 100vw;
	background: url('../../assets/images/AboutUsHeader.png') no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 2rem;
	h2 {
		color:white;
		text-transform: uppercase;
	}
}

.button-class {
	color: white;
	border: 1px solid white;
	padding: .75rem 1.5rem;
	text-decoration: none;
	
}





