/*---------------------------------------------------------

 Careers Page

--------------------------------------------------------*/

.page-template-page-careers {
	//removes white space between footer and content
	article {
		margin-bottom: 0;
	}
}

.careers-hero-image {
	height: 200px;
	h1{
		text-align:center;
		padding: 0 20px;
		@include impact-heading(2.5rem, uppercase);
		color: white;
	}
}

.main-content {
	text-align: center;
	width: 90%;
	margin: 0 auto;
	line-height: 1.75;
}

//Tagline
.life-work-banner-wrapper {
	text-align: center;
	padding-top: 1.75rem;
	padding-bottom: 1rem;
	p{
		padding-top: 2rem;
		width: 90%;
		margin: 0 auto;
	}
	div{
		text-align:center;
		width: 100%;
		margin: 0;
		color: white;
		background: $color__lightblue;			
		padding: 3rem 0rem;
		font-size: 1.5rem;
	}
	h2 {
		width: 90%;
		margin: 0 auto;
		font-weight:100;
	}
}

.join-team-banner {
	padding: 3rem 0;

	background: $color__lightblue;
	@include display-flex(center, center);
	flex-flow: column;
	text-align: center;

	@include desktop {
		flex-flow: row nowrap;
		align-items: flex-start;
		justify-content: space-around;
		
	}

	div {
		width: 90%;
		margin: 0 auto;
		@include desktop {
			width: 40%;
			text-align: left;
			max-width: 415px;

		}
	}

	p {
		text-align: center;
		margin: 0 0 15px;
		color: white;
		font-weight: 400;
		@include desktop {
			text-align: left;
		}
	}

	a {
		word-wrap: break-word;
		color: $color__dark-blue;
		&:hover {
			color: $color__dark-blue;
		}
	}
}

//Simple Job Board
.job-board p {
	width: 100%;
	background-color: $color__dark-blue;
	color: white;
	@include impact-heading(2rem, uppercase);
	text-align: center;
	margin: 0;
	padding-top: 3rem;
}

.sjb-wrap {
	margin: 0;
	float: none;

	input[type=submit]:hover {
		box-shadow: none;
		background-color: $color__lightblue;
	}
}

.sjb-search-keywords {
	display: none;
}

.no-job-listing p a {
	display: none;
}

//Single Job Post
.single-jobpost {
	h2 {
		text-align: center;
		@include desktop {
			text-align: left;
			margin-left: 15px;
		}
	}

	.sjb-heading{
		padding: 0;
	}

	article.sjb-row {
		margin: 15px;
	}

	article.sjb-job-details {
		width: 85%;
		margin: 0 auto;
	}

	button {
		box-shadow: none;
	}
}

.sjb-wrap #sjb-form-padding-button button:hover {
	background-color: $color__lightblue;

}