/*---------------------------------------------------------

 Careers Page

--------------------------------------------------------*/

.page-template-page-careers {
	//removes white space between footer and content
	article {
		margin-bottom: 0;
	}
}

.careers-hero-image {
	height: 200px;
	h1{
		text-align:center;
		padding: 0 20px;
		@include impact-heading(2.5rem, uppercase);
		color: white;
	}
}

.main-content {
	text-align: center;
	width: 90%;
	margin: 0 auto;
	line-height: 1.75;
}

//Tagline
.life-work-banner-wrapper {
	text-align: center;
	padding-top: 1.75rem;
	padding-bottom: 1rem;
	p{
		padding-top: 2rem;
		width: 90%;
		margin: 0 auto;
	}
	div{
		text-align:center;
		width: 100%;
		margin: 0;
		color: white;
		background: $color__lightblue;			
		padding: 3rem 0rem;
		font-size: 1.5rem;
	}
	h2 {
		width: 90%;
		margin: 0 auto;
		font-weight:100;
	}
}

.join-team-banner {
	padding: 3rem 0;
	background: $color__lightblue;

	div {
		width: 90%;
		margin: 0 auto;
	}

	p {
		text-align: center;
		margin: 0 0 15px;
		color: white;
		font-weight: 400;
	}

	a {
		word-wrap: break-word;
		color: $color__dark-blue;
		&:hover {
			color: $color__dark-blue;
		}
	}
}

//WP Job Board
.job-board p {
	width: 100%;
	background-color: $color__dark-blue;
	color: white;
	@include impact-heading(2rem, uppercase);
	text-align: center;
	margin: 0;
	padding-top: 3rem;
}

.job_filters {
	background-color: $color__dark-blue;
}

.single-job_listing {
	.widget-area {
		display: none;
	}

	.news-article {
		width: 90%;
	}
}

.job_filters .job_types {
	background-color: white;
	li {
		border-right: none;
	}
}

li.job_listing {
	font-size: 20px;
}
//Single Job Listing
.single_job_listing .application .application_button  {
	font-size: 20px;
	padding: 15px 30px;
	background-color: $color__dark-blue;
	color: white;
	box-shadow: none;

	&:hover {
		background-color: $color__lightblue;
	}
}

.job_description li {
	font-size: 20px;
}

.single_job_listing .job-listing-meta .job-type {
	background-color: $color__dark-blue;
}

//Small Widget
.smartWidget {
	margin-bottom: 50px;
}

.job-board {


#smartWidget0 {

	.srJobList .srJobListTitles * {
		background-color: $color__lightblue;
		color: white;
		font-size: 20px;
		padding: 15px 0px 15px 25px;
		font-family: "Helvetica", "Arial", sans-serif;
	}

	.srJobList .srJobListJobOdd *,
	.srJobList .srJobListJobEven * {
		font-size: 13px;
		padding: 15px 0px 15px 25px;

		// &:hover {
		// 	background-color: lighten($color__dark-blue, 10);
		// }
	}
}
}