.page-template-page-services {
	font-size: 1rem;

	.entry-header {
		height: 300px;
		width: 100%;
		background: url('../../assets/images/ServiceHeader.png') no-repeat;
		background-size: cover;
	}

	h2 {
		text-transform: uppercase;
		color: $color__dark-blue;
		text-align: center;
		font-weight: bold;
	}
	
	h3 {
		text-transform: uppercase;
		font-size: $font__h3;
		text-align: center;
		color: white;
		background-color: $color__dark-blue;
	}
}


.engineering-needs-wrapper {
	@include display-flex(center, center);
	flex-flow: column nowrap;
	margin: 0 auto;
	.engineering-needs-block {
		line-height:1.7;
		text-align: center;
		width: 60%;
		h4 {
			font-weight: 800;
			font-size: 1.3rem;
			color: $color__lightblue;
		}

	}
	.engineering-needs-list {
		padding-left: 0;
		font-weight: bold;
	}
}

.trust-banner {
	height: 100px;
	text-align: center;
	padding: 3rem 10rem;
	color: white;
	background-color: $color__lightblue;
}
.certification-block {
	text-align: center;
	margin: 0 auto;
	
	p {
		font-weight: bold;
		line-height: 1.7;
	}
}

.advantage-banner {
	text-align: center;
	color: white;
	background-color: $color__dark-blue;
	padding: 1.25rem 0;
	p {
		padding: 0 8rem;
	}
}


.updates-banner {
	height: 120px;
	text-align: center;
	// padding-top: 1rem;
	padding-bottom: 1rem;
	color: white;
	background-color: $color__lightblue;
	p {
		padding: 0 10rem;
	}
}
.attributes {
	margin: 0 auto;

}
//Flickity carousel
.carousel {
	padding-top: 30px;
	.flickity-page-dots {
		bottom: 0px;
	}
}

.carousel-cell {
	width: 100%;
	text-align: center;
}

