.page-template-page-services {
	width: 100vw;
	margin: 0 auto;

	.entry-header {
		height: 300px;
		width: 100%;
		background: url('../../assets/images/ServiceHeader.png')no-repeat;
		background-size: cover;

	}
}

.needs-banner {
	text-transform: uppercase;
	color: $color__dark-blue;
	text-align: center;
	font-weight: bold;
}