/*-----------------------------------------------------------
 Sectors
-------------------------------------------------------------*/
.development {
	color: white;
	text-align: center;
	@include desktop {
		height: 100vh;
	}

	h1 {
		margin-top: 0;
		@include impact-heading($font__h2, uppercase);
		@include desktop {
			padding-left: 15px;
		}
	}
}

.development-overlay { 
	@include display-flex(center, center);
	flex-flow: column nowrap;
	background:
	linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
	height: 80vh;
	@include desktop {
		z-index: 2;
		background:
		url('../../assets/images/left-overlay.png')
		left/100% 100% no-repeat;
		max-width: 80vw;
		height: 100vh;
		align-items: flex-start;
		text-align: left;
	}
}

.development-description {
	font-size: 0.8em;
	padding: 0 20px;
	@include desktop {
		width: 64%;
		padding-left: 30px;
		font-size: 0.7em;
		line-height: 1.5;
	}
}

//Read More 
.style-2{
	display: none;
	column-count: 2;
	width: 90%;
	margin: 0 auto;
	column-width: 300px;

	h3 {
		width: 100%;
	}
}

.style-1 {
	background-color: $color__dark-blue;

	ul {
		margin: 0 auto 25px;
		color: white;
		padding: 50px 0px;
		width: 80%;
	}

	li {
		position: relative;
		padding-bottom: 20px;
		&:before {
			content:"";
			position:absolute;
			top: -1.2vw;
	    left: -5vw;
	    width: 3vw;
	    height: 6vw;
	    background: 
	    url(../../assets/images/arrow-right.png) 
	    top center/79% no-repeat;

		}
	}
}



//Sub Sectors
.sub-sector {
	@include display-flex(center,center);
	flex-flow: column nowrap;
	width: 90%;
	margin: 30px auto;
	height: 100%;
	.sub-sector-lists {
		display: none;
		padding-top: 15px;
		column-count: 2;
		column-width: 250px;
	}
	ul {
		margin: 0;
		list-style-type: disc;
	}
}
.sub-sector-title {
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: $font__h4;
	padding-bottom: 15px;
	color: $color__dark-blue;
	border-bottom: 3px $color__dark-blue solid;
	position: relative;

	&:after {
		width: 20px;
    margin-left: 10px;
    height: 30px;
    content: 'sd';
    background: url(../../assets/images/arrow-right.png) center/100% 100% no-repeat;
    overflow: hidden;
    text-indent: 100%;
    position: absolute;
    cursor: pointer;
	}
}

.new-sub-sector-title:after {
		background-image:
		url(../../assets/images/arrow-down.png);
		width: 25px;
		height:25px;
		margin-top: 6px;
}
