/*-----------------------------------------------------------
 Sectors
-------------------------------------------------------------*/
//Each sector
.development {
	color: white;
	text-align: center;
	position: relative;
	
	@include desktop {
		height: 100vh;
	}

	h1 {
		@include impact-heading($font__h2, uppercase);
		@include desktop {
			padding-left: 15px;
		}
	}
}

.development-overlay { 
	@include display-flex(center, center);
	flex-flow: column nowrap;
	background:
	linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
	height:100%;
	@include desktop {
		z-index: 2;
		background:
		url('../../assets/images/left-overlay.png')
		left/100% 100% no-repeat;
		max-width: 80%;
		max-height: 650px;
		align-items: flex-start;
		text-align: left;
	}
}

.development-description {
	font-size: 0.8em;
	padding: 0 30px 25%;
	@include desktop {
		width: 64%;
		padding: 0 30px 15%;
		font-size: 0.7em;
		line-height: 1.5;
	}
}


//Mining specific styles
.style-2{
	display: none;
	column-count: 2;
	width: 90%;
	margin: 0 auto;
	column-width: 300px;

	h3 {
		width: 100%;
	}
}

.read-more-button {
	display: none;
	cursor: pointer;
	position: absolute;		
	text-align: center;
	padding: 8px 15px;
	font-size: 1.3rem;
	bottom: 30px;
	left: 33vw;
	border: 2px white solid;
	@include desktop {
		left: 42%;
		padding: 10px 20px;
		font-size: 1.5rem;
	}
}

//Read more drop down list
.read-more {
	width: 90%;
	margin: 20px auto 0;
	
	h2,
	h3 {
		text-align: center;
	}

	h3 b{
		display: none;
		@include desktop {
			display: unset;
			text-align: center;
			width: 100%;
		}
	}

	h2 {
		color: $color__dark-blue;
		@include desktop {
			border-bottom: 2px $color__dark-blue solid;
		}
	}

	ul {
		list-style-type: disc;
		font-size: $font__main;
		line-height: 1.4;
	}
}


//Oil and Gas sector specific styles
.style-1 {
	margin-top: 0;
	background-color: $color__dark-blue;
	width: 100%;
	display: block;

	ul {
		margin: 0 auto 25px;
		color: white;
		padding: 50px 0px;
		width: 80%;
		list-style-type: none;
		line-height: 1.8;
	}

	li {
		position: relative;
		padding-bottom: 20px;
		&:before {
			content: "";
			position: absolute;
			top: 0.8vw;
			left: -6vw;
			width: 4vw;
			max-width: 20px;
			min-width: 15px;
			height: 6vw;
			background: 
			url(../../assets/images/arrow-right.png) 
			top center/79% no-repeat;
			@include desktop {
				top: 0.6vw;
				left: -4vw;
				width: 4vw;
			}
		}
	}
}


//Sub Sectors
.sub-sector {
	@include display-flex(center,center);
	flex-flow: column nowrap;
	width: 95%;
	margin: 30px auto;
	height: 100%;
}

.sub-sector-lists {
		display: none;
		padding-top: 15px;
		column-count: 2;
		column-width: 250px;
		max-width: 970px;
	
	ul {
		margin: 0;
		list-style-type: disc;
	}
}

.sub-sector-title {
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: $font__h4;
	padding-bottom: 30px;
	color: $color__dark-blue;
	border-bottom: 3px $color__dark-blue solid;
	position: relative;

	&:after {
		width: 20px;
		margin-left: 10px;
		height: 30px;
		content: 'sd';
		background: url(../../assets/images/arrow-right.png) center/100% 100% no-repeat;
		overflow: hidden;
		text-indent: 100%;
		position: absolute;
		cursor: pointer;
	}
}

.new-sub-sector-title:after {
	background-image:
	url(../../assets/images/arrow-down.png);
	width: 25px;
	height:25px;
	margin-top: 6px;
}

//Read Less Button
.read-less-button {
	
	background-color: $color__dark-blue;
	color: white;
	box-shadow: none;
	padding: 10px 0;
	text-align: center;
	margin: 0 auto 20px;
	width: 166px;
	border: 0;
	cursor: pointer;
	text-shadow: none;
	
}

//Learn more about projects
.more-projects {
	width: 100%;
	text-align: center;
	padding-bottom: 15px;
	color: $color__dark-blue;
	margin: 80px auto 10px;

	h2{
		font-weight: bold;
		font-size: $font__h4;
	}	
}

.link-to-projects {
	width: 250px;
	padding: 10px 20px;
	border: 1px $color__dark-blue solid;
	margin: 0 auto;
	a {
		font-size: 1.3rem;
		font-weight: 600;
		text-decoration: none;
	}
	
}