/* -----------------------------------------------------
 Single News Article
--------------------------------------------------- */

//Archives widget on single view
.single-post {
	font-size: 20px;
	.news-wrapper img {
		max-width: 600px;
	}

	.widget-area {
		margin-top: 250px;
		margin-right: 2%;
	}
}

//Author and date
.author-date {
	margin-top: 40px;
	font-style: italic;

}

//Comments if open
.comments-area {
	width: 90%;
	margin: 0 auto 65px;

	h3 {
		color: $color__dark-blue;
	}
	label {
		display: block;
		margin-bottom: 15px;
	}
	span {
		color: red;
	}
	textarea {
		max-width: 700px;
	}

	input[type="submit"] {
		box-shadow: none;
		border: none;
		text-shadow: none;
		background-color: $color__dark-blue;
		color: white;
		font-size: 1.3rem;
		padding: 15px 20px;

		&:hover {
			background-color:$color__lightblue;
		}
	}
}

//Display comments
.comment-list {
	list-style-type: none;
}
.comment-body {
	img {
		display: none;
	}

	ol {
		list-style-type: none;
	}

	.comment-author {
		font-weight: bold;
		color: $color__dark-blue;
		margin-bottom: 15px;
	}
	cite {
		font-style: normal;
	}

	.comment-metadata {
		font-size: 1rem;
		font-style:italic;
	}
	p {
		padding-left: 30px;
	}

}