/* -----------------------------------------------------
 Single News Article
--------------------------------------------------- */


//Author and date
.author-date {
	margin-top: 40px;
	font-style: italic;

}

//Comments if open
.comments-area {
	width: 90%;
	margin: 0 auto;
}