// Structure

$base__space-unit: 1.5em;


//Colors
$color__grey: #c6c6c6;
$color__dark-blue: #272D66;
$color__black: #000000;    
$color__lightblue: #279AB6;

//Fonts
$font__h1: 120px;
$font__h2: 48px;
$font__h3: 40px;
$font__h4: 30px;
$font__main: 24px;
$font__p: 28px;
$font__impact: "Impact", "Charcoal", sans-serif;